name: DockerHub image push

on:
  push:
    branches: ["master"]

jobs:
  docker_hub_image_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t vsepike/atomyze-app:latest .
          docker push vsepike/atomyze-app
